<div class="m-auto" id="welcome-block">
  <h1>
    Glad to see you!
  </h1>
  <h1>
  	Our journey  will be wonderful!
  </h1>
  <div class="form-group text-center">
    <button class="btn btn-success btn-lg">
      <%= link_to "Let's go!", new_car_path %>
    </button>
  </div>
</div>
